@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Project requirements</h3>

<ul>
    <li>Create a new application to manage tasks using ASP.NET MVC 5 with Bootstrap.</li>
    <li>Create a very simple list view to show Tasks with Add, Delete actions</li>
    <li>Tasks can have subtasks and so on.. (unlimited nesting)</li>
    <li>Task name must be unique on a given nesting level.</li>
    <li>Server and client Validations.</li>
    <li>Save the form to the database.</li>
</ul>

<p>Use : ( Sql Server Express / Local db, EF,  NUnit or other test framework)</p>

<h3>Goal</h3>
<p>
    The goal is to demonstrate correct and professional approach to implement such simple task.
    Demonstrated approach could be used in projects of any size.
    The larger the project the more it benefit from this approach.
</p>