@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Author's contacts</h3>

<address>
    <strong>Email:</strong> <a href="mailto:ilya@golets.info" target="_blank">ilya@golets.info</a><br />
    <strong>Skype:</strong> <a href="skype:yamets?call">yamets</a><br />
    <strong>GitHub Profile:</strong> <a href="https://github.com/igolets" target="_blank">igolets</a>
</address>